{% extends "base.html" %}

<head>
{% block head %}
{{ super() }}
{% block title %}<title>404 Error</title>{% endblock %}
{% endblock %}
</head>


<body>


    {% block topnavbar %}
    {{ super() }}

    {% endblock %}

    <div class="container-fluid">

    <nav>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">

          <a class="brand" href="/">Sunrider International</a>

          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="content">Content</a></li>
              <li><a href="users">Users</a></li>
            </ul>
            <ul class="nav" style="float:right">
               <div class=metanav style="background-color:#333;padding-top:10px;font-size:100%;font:inherit;">
                   {% if current_user.is_authenticated() %}
                       <span style="color:#999999">Welcome, {{ current_user.name }} | <a href="{{ url_for('logout') }}">log out</a></span>
                   {% else %}
                       <span style="color:#999999">You are not logged in | <a href="{{ url_for('login') }}">log in</a></span>
                   {% endif %}
               </div>
            </ul>
          </div><!--/.nav-collapse -->

          <div class="nav">
             <ul class="btn-toolbar" data-toggle="collapse" data-target=".nav-collapse">
                  <li class="btn-navbar btn-inverse"><a href="admin_only">Register or Login</a></li>
                  <li class="btn-navbar btn-inverse"><a href="contact">Users</a></li>
                  <li class="btn-navbar btn-inverse"><a href="blog">Content</a></li>
                  <li class="btn-navbar btn-inverse"><a href="/">Home</a></li>
              </ul>
          </div>

        </div><!--/.container fluid -->
      </div><!--/.navbar-inner -->
    </div><!--/.navbar navbar-fixed-top -->


    {% block article_one %}
    {{ super() }}
    <div class="hero-unit">
        <h3>This is not the page you are looking for...</h3>
        <br />
        <h3>Unless what you are seeking is an error message, what you are looking for may not even exist.</h3>
        <br />
        <details>
            <div style="text-align: center">
                <img src="/static/img/kid_n_camel.jpg" width="300" />
            </div>
            <h3>You're way off the beaten path, pilgrim!  We love explorers, really we do.  But whoa!  You are now somewhere in the vast uncharted regions of a 404 Error.  Whatever you're trying to find, it's not here!  We recommend clicking one of the above links, or try clicking your browser's [back] arrow button.
</h3></summary>
        </details>
    </div>

    <script>
    var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),
	GOOG_FIXURL_SITE = location.host;
    </script>
    <script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>

    {% endblock %}

    {% block sidebarnav %}
    {{ super() }}
        <ul class="nav nav-list">
            <li class="nav-header">LINKS</li>
            <li><a href="/home">Home</li>
            <li><a href="http://www.sunrider.com/Eng/WebForm/Company/Company.aspx">Company Overview</li>
            <li><a href="http://shop.sunrider.com/countrymap_new.asp">Product Catalogue</li>
            <br />
            <li class="nav-header">ADDITIONAL LINKS</li>
            <li><a href="http://abo.sunrider.com/WebForm/SelectLocationLanguage.aspx">Find Stores</a></li>
            <li><a href="http://www.sunrider.com/Eng/WebForm/News/WorldNews.aspx">News</a></li>
            <li><a href="http://www.sunrider.com/Eng/WebForm/Goodworks/GoodWorks.aspx">Global Outreach</a></li>
            <li><a href="http://business.sunrider.com/CountryMapJoin.asp">Partner with us!</a></li>
        </ul>
    {% endblock %}

    <footer>
      <div id="footer">
          {% block footer %}
            <p><small>&copy; 2012 by Sunrider International. All rights reserved.</small></p><br />
          {% endblock %}
      </div>
    </footer>
