<!DOCTYPE html>
<html lang="en">
    
    {% block head %}
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        {% block title %}{% endblock %}
        <meta name="dc.language" content="en" />
        <meta name="geo.country" content="US" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!--<meta name="apple-mobile-web-app-status-bar-style" content="white" >-->
        <meta name="description" content="An app for finding and hiring professional musicians.">
        <link rel="stylesheet" href="http://virtuosic.concerttalent.com/css/bootstrap.css">
        <link rel="stylesheet" href="http://virtuosic.concerttalent.com/css/font-awesome.css">
        <link rel="stylesheet" href="../static/css/theme.css">
        <link href="http://fonts.googleapis.com/css?family=Lobster:400,700" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet" type="text/css">
        <!--[if lt IE 9]>
            <link rel="stylesheet" href="css/font-awesome-ie7.css">
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-37866809-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <!-- fav and touch icons -->
        <link rel="shortcut icon" href="favicon.ico">
        <!--<link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">-->
        <!--<link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png">-->
        <!--<link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png">-->
    </head>
    {% endblock %}

    <body>
        
      <div id="wrap">
    
        {% block topnavbar %}
        <nav>
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <a class="brand" href="/">Concert Talent</a>
                    {% block topnavlinks %}{% endblock %}
                </div><!--/.navbar-inner -->
            </div><!--/.navbar navbar-fixed-top -->
        </nav>
        {% endblock %}

        {% block showcase_n_strip %}
        {% endblock %}

        <!-- Page Container -->
        <div class="container">
            
            {% block header %}
            {% endblock %}

            {% block article_one %}
            {% endblock %}

            {% block article_two %}
            {% endblock %}

            {% block article_three %}
            {% endblock %}

        </div><!-- page /.container -->

        <div id="push"></div><!--for sticky footer-->
        
      </div><!--/#wrap-->
    
            {% block sidebarnav %}
            {% endblock %}

        <footer>
            <div id="footer" class="container clear_both">
                <div class="row">
                    <div class="span12">
                        {% block footer %}
                        <p><strong>&copy; 2013 by Concert Talent.  All rights reserved.</strong><br />
                        <small>Tomorrow's technology piloted by <a href="http://blogblimp.com">BlogBlimp</a></small></p>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </footer>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="http://virtuosic.concerttalent.com/js/jquery-1.8.2.min.js"><\/script>')</script>
        <script src="http://virtuosic.concerttalent.com/js/bootstrap.min.js"></script>
        
    </body>
    
</html>
