/*
** Bootstrap Over-rides
** Based on a Theme by Allan Moreno
*/

/* Global Styles and Typography */

body { 
    color: #27313D;
}

h1 {
    font-size: 80px;
    font-weight: 700;
    margin: 0;
    /* font-family: 'Cabin', Helvetica, Arial, sans-serif; */
    /* font-family: 'Sansita One', Helvetica, Arial, sans-serif;*/
    font-family: 'Cabin', Arial, san serif;
    color: #E8F2FE;
    text-shadow: 0 2px 1px #000;
    /* text-shadow: 0px 0px 10px rgba(0, 0, 0, 1); */
    line-height: 1.25;
    text-align: left;
    margin-bottom: 65px;
}

h3 {
    font-weight: 500;
}

h2, h3, h4, h5, h6 {
    color: #1B222A;
}

h2 i, h3 i, h4 i, h5 i, h6 i {
    padding-right: 5px;
}

a:hover {
    text-decoration: none;
    border-bottom: 1px dotted #808792;
}

p {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

hr {
    border-top: 1px solid #DDD;
}

.flash { 
    background: #2F353E; 
    padding: 0.5em; 
    border: 1px solid #AACBE2; 
}

.error { 
    background: #2F353E; 
    padding: 0.5em; 
}
 
 
/* Navbar */

.navbar .brand {
  /*float: left;*/
  display: block;
  /*padding: 10px 20px 10px;*/
  margin-left: -20px;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  /* font-family: 'Cabin', Helvetica, Arial, sans-serif; */
  /* font-family: 'Sansita One', Helvetica, Arial, sans-serif;*/
  font-family: 'Lobster', Georgia, Times, serif;
  color: #E8F2FE;
  text-shadow: 0 2px 1px #000;
  /* text-shadow: 0px 0px 10px rgba(0, 0, 0, 1); */
  line-height: 1.25;
  text-align: left;
}

.navbar .nav > li > a {
    color: #E8F2FE;
    font-size: 14px;
    text-decoration: none;
    padding: 20px 20px 20px;
}

.navbar .nav > li > a:hover {
    text-decoration: none;
    color: #EABFFE;
    border-bottom: 1px dotted #E8F2FE;
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
    padding: 0 0 0px;
}

.navbar-inner { 
    background: #2F353E url("../assets/texture-1.png");
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
    border-width: 0 0 0px;
}

/* Showcase Photo and Header */

.showcase {
    position: relative;
    z-index: -1;
    background: transparent url('../assets/main.png') center top fixed;
    background-size: cover;
    min-height: 200px;
}

header {
    padding: 60px 10px 00px;
    text-align: center;
}

.description {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    line-height: 1.25;
    color: #D1E6FE;
    text-shadow: 0 0 6px rgba(0, 0, 0, 1);      
}

/* Strip (Call to action) */

.strip {
    width: auto;
    padding: 20px;
    text-align: center;
    background: #232323 url("../assets/texture-1.png");
    margin-bottom: 50px;
}

.strip h3 {
    color: #E8F2FE;
}

.strip .btn {
    margin-bottom: 3px;
}

/* Client Logos */

.customer-logo {
    padding-right: 38px;
    padding-bottom: 20px;
}

/* Client Avatars */

.user-avatar {
    float: left;
    margin: 0 10px 10px 0;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
       -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
        -ms-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
         -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
}

/* Footer */

footer {
    width: auto;
    padding: 30px 20px 20px;
    background: #2F353E url("../assets/texture-1.png");
}  

footer p {
   color: #E8F2FE
}

footer a {
   color: #EABFFE;
}

footer a:hover {
    text-decoration: none;
    color: #FFF;
    border-bottom: 1px dotted #FFF;
}

/* Testimonial Bubbles */

.bubble {
    position: relative;
    width: auto;
    height: 100%;
    padding: 20px 20px 10px;
    margin-bottom: 30px;
    color: #49535F;
    background: #ECEFF2;
    border: #7F7F7F solid 0px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.bubble:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 20px;
    border-style: solid;
    border-width: 10px 10px 0;
    border-color: #ECEFF2 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

/* Feature Row */

.feature {
    padding-top: 10px;
}

/* Pricing Boxes */

.pricing {
    padding: 15px;
    margin-bottom: 15px;
    background: #ECEFF2 url("../assets/texture-2.png") top right no-repeat;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.info-panel {
    padding: 15px;
    color: #9099A3;
    background: #2F353E url("../assets/texture-3.png");
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.info-panel h4 {
    color: #FFF;
}

/* Advice Banner (Another Call To Action) */

.img-advice {
    margin-bottom: 20px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}

/* Flatten Default Button */

.btn {
    padding:7px 13px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    color: #FFF;
    font-weight: bold;
    text-shadow: none;
    background-image: none;
    background-repeat: no-repeat;
    border: none;
    filter: none;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}

.btn:hover,
.btn:active,
.btn .active,
.btn .disabled,
.btn[disabled] {
    color: #FFF;
    border-bottom: none;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}

/* Themed Buttons */

.btn {
    background-color: #47006B; /*#2F353E;*/
}

.btn:hover,
.btn:active,
.btn .active,
.btn .disabled,
.btn[disabled] {
   background-color: #660099; /*#5F686F;*/
}

.btn-large {
  padding: 4px 11px 4px 11px;
  font-size: 24.5px; /*17.5px;*/
  /*font-weight: bold;*/
  color: #FFF;
  background-color: #47006B;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.btn-large:hover,
.btn-large:active,
.btn-large .active,
.btn-large .disabled,
.btn-large[disabled] {
   background-color: #660099; /*#5F686F;*/
}

.btn-large:hover,
.btn-large:active,
.btn-large .active,
.btn-large .disabled,
.btn-large[disabled] {
    color: #FFF;
    border-bottom: none;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}

.btn-primary {
    background-color: #AA0000;
}

.btn-primary:hover {
    background-color: #CC0000;
}

.btn-info {
    background-color: #01A9DB;
}

.btn-info:hover {
    background-color: #58D3F7;
}

.btn-success {
    background-color: #0B610B;
}

.btn-success:hover {
    background-color: #088A08;
}

.btn-warning {
    background-color: #FF8000;
}

.btn-warning:hover {
    background-color: #FACC2E;
}

.btn-danger {
  background-color: #B40404;
}

.btn-danger:hover {
    background-color: #CD2424;
}

.btn-inverse {
    background-color: #1C1C1C;
}

.btn-inverse:hover {
    background-color: #424242;
}

input[type="radio"],
input[type="checkbox"] {
  margin: -4px 0 0;
  *margin-top: 0;
  /* IE7 */

  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
  cursor: pointer;
}

/* Media Queries */

@media (min-width: 980px) {
  .showcase {
      min-height: 600px;
  }
  h1 {
      font-weight: normal; /* Avoid safari & ios double shadow and offset */
  }
  .form {
      padding-top: 100px;
  }
}

@media (max-width: 979px) {
  .showcase {
      min-height: 500px;
  }
  h1 {
      font-size: 50px; /* Resize to fit better on mobile devices */
  }
  .navbar-fixed-top {
      margin-bottom: 0px;
  }
  .form {
      padding-top: 20px;
  }
}

@media (max-width: 767px) {
  .showcase {
      background: transparent url("../assets/main-mobile.png") center top scroll; /* Smaller image to load faster */
      min-height: 500px; /*290*/
      background-size: cover;
  }
  .navbar-fixed-top,
  .showcase,
  .strip,
  footer {
      margin-left: -20px; /* Maintain elements full-width */
      margin-right: -20px;
  }
}
